$body-color: blue;

body {
  color: $body-color;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.world {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
}

.country {
  fill: #ff5607;
  opacity: 0.7;
  stroke: #ff5607;
}

.graticule {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: .5px;
}

.graticule.outline {
  stroke: #333;
  stroke-opacity: 1;
  stroke-width: 1.5px;
}

.place-online {
  fill: red;
  opacity: 1;
}