$body-color: blue;

body {
  color: $body-color;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.widget {
  z-index: 2;
  position: absolute;
  will-change: transform;
}

table {
  border-collapse: collapse;
  position: relative;
  overflow: hidden;
}

table thead > tr {
  background-color: rgba($color: #000, $alpha: 0.6);
}

thead th {
  text-transform: uppercase;
  font-family: 'Courier New';
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr {
  font-family: 'Courier New';
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr {
  background-color: rgba($color: #ff5607, $alpha: 0.4);
}

tbody td {
  color: #fff;
  padding: 0 5px;
}

tbody tr:nth-child(even) {
  background-color: rgba($color: #333, $alpha: 0.6);
}

tbody tr.with-data:nth-child(1) {
  background-color: rgba($color: #fff, $alpha: 0.8);
  & td {
    color: #000000;
  }
}


.widget-top-left {
  top: 0;
  left: 0;
}

.widget-bottom-left {
  bottom: 0;
  left: 0;
}

.widget-top-right {
  top: 0;
  right: 0;
}

.widget-bottom-right {
  bottom: 0;
  right: 0;
}

.country {
  fill: #ff5607;
  opacity: 0.7;
  stroke: #ff5607;
}

.graticule {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: .5px;
}

.graticule.outline {
  stroke: #333;
  stroke-opacity: 1;
  stroke-width: 1.5px;
}

.place-online {
  fill: red;
  opacity: 1;
}